<div class="filter-container" [formGroup]="form">
  <h2>Filter <mat-icon>filter_list</mat-icon></h2>
  <div id="top-row">
    <h3>Verse Location</h3>
    <div id="top-row-filters">
      <mat-form-field appearance="fill" id="testamentForm">
        <mat-label>Testament</mat-label>
        <mat-select formControlName="testament">
          <mat-option *ngFor="let testament of TESTAMENTS" value="{{testament}}">{{testament}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" id="bookForm">
        <mat-label>Book</mat-label>
        <mat-select formControlName="book">
          <mat-option>--</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" id="chapterForm">
        <mat-label>Chapter</mat-label>
        <mat-select formControlName="chapter">
          <mat-option>--</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <hr>

  <div id="verseTypeFilter">
    <form class="verseTypeContainer">
      <h3 class="filterTitle">Verse Type</h3>
      <ul class="verseTypes">
        <li formArrayName="verseTypes" *ngFor="let type of typeFormArray.controls; let i = index" class="verseTypeCheckBox">
          <mat-checkbox [formControlName]="i" >{{verseTypeKeys[i] | titlecase}}</mat-checkbox>
        </li>
      </ul>
    </form>
  </div>

  <hr>

  <div id="verseLimitFilter">

    <div id="limitBox">
      <mat-form-field  id="limitForm">
        <label>Verse Limit</label>
        <input matInput type="number" formControlName="limit" id ="verseLimitForm"/>
        <mat-hint>(Defaults to ALL)</mat-hint>
      </mat-form-field>
    </div>


    <div fxLayout="column" fxLayoutGap="10px">
        <label for="radioGroup" id="radioGroupLabel">Verses Completed</label>
        <mat-radio-group aria-labelledby="radioGroup" id="radioGroup" formControlName="completed">
          <mat-radio-button value="true" [checked]="completed"  (click)="checkForm('true')" style="margin-right: 10px;">true</mat-radio-button>
          <mat-radio-button value="false" [checked]="completed === false" (click)="checkForm('false')">false</mat-radio-button>
        </mat-radio-group>
    </div>
  </div>

  <hr>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-raised-button (click)="form.reset()" *ngIf="!isFilterNull">Clear</button>
    <button mat-raised-button (click)="this.close(null)"> Cancel </button>
    <button mat-raised-button (click)="applyFilter()">Apply Filters</button>
  </div>
</div>
