<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-elevation-z8" style="width: 60%">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <!--    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">-->
  <!--      <th mat-header-cell *matHeaderCellDef> {{column}} </th>-->
  <!--      <td mat-cell *matCellDef="let verse"> {{verse[column]}} </td>-->
  <!--    </ng-container>-->

      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Reference</th>
        <td mat-cell *matCellDef="let verse"> {{verse?.reference}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let verse"> {{verse?.id}} </td>
      </ng-container>

      <ng-container matColumnDef="chapterId">
        <th mat-header-cell *matHeaderCellDef>Chapter Id</th>
        <td mat-cell *matCellDef="let verse"> {{verse?.chapterId}} </td>
      </ng-container>

      <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef>Book Id</th>
        <td mat-cell *matCellDef="let verse"> {{verse?.bookId}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let verse"> 0 </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let verse">
          <mat-icon (click)="openVerseDialog(verse)">
            more_horizon
          </mat-icon>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let verse" [attr.colspan]="columnsToDisplay.length">
          <div class="example-verse-detail" [@detailExpand]="verse == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-verse-diagram">
              <p>tag 1</p>
              <p>tag 2</p>
              <p>tag 3</p>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let verse; columns: columnsToDisplay;"
          class="example-verse-row"
          [class.example-expanded-row]="expandedElement === verse"
          (click)="expandedElement = expandedElement === verse ? null : verse;">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

