.container {
  width: 100%;

  table {
    width: 100%;

  }

  .mat-cell {
    letter-spacing: 1px;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-verse-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-verse-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .mat-column-reference {
    width: 25%;
  }
  .mat-column-id {
    width: 20%;
  }

  .mat-column-chapterId {
    width: 20%;
  }

  .mat-column-bookId {
    width: 15%;
  }

  .mat-column-tags {
    width: 15%;
  }

  .mat-column-view {
    width: 15%;
  }


  .example-verse-row td {
    border-bottom-width: 0;
  }

  .example-verse-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  #tableToolBar {
    height: 50px;
  }

  #searchBar {
    padding: 0;
  }

  #tableActions {
    padding: 0;
  }

  .example-verse-diagram {
    text-align: center;
    font-size: 15px;
    overflow-wrap: break-word;
    padding: 10px;
    font-weight: lighter;
    margin: 8px 0;
  }

  .noTagsForVerse {
    opacity: .5;
  }

  #bibleName{
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }


  .example-verse-symbol {
    font-size: 15px;
    line-height: normal;
    letter-spacing: 1px;
  }

  .example-verse-description {
    padding: 16px;
    letter-spacing: 1px;
  }

  .example-verse-description-attribution {
    opacity: 0.5;
  }

  .activeFilter {
    color: deeppink;
  }

}
